textarea
{
  width:100%;
  height: 70%;
}

button {
     font-size: 0.5em;
     background:none!important;
     border:none; 
     padding:0!important;
     font: inherit;
     /*border is optional*/
     cursor: pointer;
}

input[value=Save] {
width:100%;
}


#error, #success {
margin: 10px 0px;
padding:12px;
}

#error { 
    color: #D8000C;
    background-color: #FFBABA;
}

#success { 
    color: #4F8A10;
    background-color: #DFF2BF;
}
