<html>
 <head>
  <title>{{ title }} - CMS</title> 
    <link rel="stylesheet" type="text/css" href="tooltipster/dist/css/tooltipster.bundle.min.css" />
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="tooltipster/dist/js/tooltipster.bundle.min.js"></script>
   <script>		 <!-- JQEURY -->
    $(document).ready(function(){
<!-- Makes tooltips work -->   
     $('.tooltip').tooltipster();
<!-- If the success/error modals are visible then fade it out -->
     if ($("#success").is(":visible")) {
        setTimeout(function(){
            $("#success").fadeOut(200);
        }, 4000);
     }
     if ($("#error").is(":visible")) {
        setTimeout(function(){
            $("#error").fadeOut(200);
        }, 4000);
     }

<!-- Capture CTRL+ENTER and submit form -->
     $('#bigbox').keydown(function (e) {

        if (e.ctrlKey && e.keyCode == 13) {
           // Ctrl-Enter pressed
           $( "#SaveButton" ).click()
     }
     });
});
  </script>		<!-- END JQUERY -->
 </head>
<body>

Which file to edit? <br/>

<!-- filelist contains a list of files from the directory that is specified in the dir variable -->
<form action="/index" method="post" name="file">
  {% for file in filelist %} 
  <button type="submit" name="submit" value={{ file }} class="tooltip" title="Click a file name">{{ file }}</button>
  {% endfor %}
</form>
<!-- If the file was succesfully saved display this message -->
{% if successMessage %}
<div id="success">Success {{ buttonclick }} saved!</div>
{% endif %}

<!-- Likely should not happen but if for some reason we lose the filename this error could trigger -->
{% if emptyFileError %}
<div id="error">Something went wrong!</div>
{% endif %}



{% if displayTextArea %}
<code>
{{ buttonclick }}
</code><br/>

<form action="/index" method="post" name="updatefile">
<textarea name="text" id="bigbox">{{ fileContents }}
</textarea>
<input type="hidden" name="hidden" value={{ buttonclick }}>
<input type="submit" name="submit" value="Save" id="SaveButton" class="tooltip" title="Try CTRL+ENTER!">
</form>
{% endif %}
</body>

</html>
